<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
<script src='lib/jquery.min.js'></script>
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script>


<div id='welcome-page'></div>
<h1>Welcome! to your even calendar</h1>
<h2>Stay organized and up to date with your events and appointments.</h2>
<%= link_to '<button type="button">Create New Event</button>'.html_safe, months_path %>
